@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');


body {
    background-color: steelblue;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    text-align: center;
}

#box {
    width: 875px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card_deputado {
    width: 140px;
    height: 180px;
    padding-top: 6px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    background-color: whitesmoke;
    margin: 4px;
}

.card_deputado:hover {
    box-shadow: 0px 0px 20px black;
}

h5 {
    margin: 4px 0px 0px 4px;
}

h6 {
    margin: 2px 0px 0px 4px;
}

.foto_deputado {
    width: 90px;
    height: 120px;
    display: block;
    margin: 0px auto 0px auto;
}

#popup-1 {
    display: none;
}

#popup-1.active {
    display: block;
    background-color: whitesmoke;
    width: 320px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 100;
    transform-style: all;
    transition-duration: 1s;
    box-shadow: 0px 0px 5px black;
}


#moldura {
    padding-top: 4px;
    width: 140px;
    height: 125px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    border-style: solid;
    border-color: burlywood;
    box-shadow: 0px 0px 2px black;
}

#imagem_dep {
    width: 90px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

#name_dep_card {
    text-align: center;
}

.close-btn {
    font-weight: bolder;
    width: 22px;
    height: 22px;
    background-color: red;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}



